<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="a.c.Application">
         </run>
          <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
     
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="a.c.Perspective"
            id="a.c.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="a.c.FirstView"
            id="a.c.view3"
            name="ViewTest"
            restorable="true">
      </view>
      <view
            class="a.c.FirstView"
            id="a.c.view4"
            name="ViewTest2"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="第一个菜单扩展栏"
            id="a.c.actionSet2"
            label="工具栏"
            visible="true">
         <menu
               id="a.c.menu2"
               label="样本菜单">
            <separator
                  name="弹出对话框">
            </separator>
         </menu>
         <action
               icon="icons/alt_window_16.gif"
               id="a.c.action3"
               label="显示菜单"
               menubarPath="a.c.menu2/弹出对话框"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
