<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="Application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="agree.rcpstudy.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="agree.rcpstudy.Perspective"
            icon="icons/alt_window_16.gif"
            id="agree.RCPStudy.perspective"
            name="RCP Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="agree.RCPStudy.application"
            description="第一个控件"
            name="agree.RCPStudy">
         <property
               name="appName"
               value="agree.RCPStudy">
         </property>
      </product>
         
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="第一个扩展"
            id="agree.RCPStudy.actionSet1"
            label="RCPStudy.actionSet1"
            visible="true">
         <menu
               id="agree.RCPStudy.menu4"
               label="样本菜单">
            <separator
                  name="弹出对话框">
            </separator>
         </menu>
         <action
               allowLabelUpdate="false"
               class="agree.rcpstudy.actions.DrawOvalAction"
               icon="icons/alt_window_16.gif"
               id="agree.RCPStudy.action2"
               label="绘制椭圆"
               mode="FORCE_TEXT"
               style="push"
               toolbarPath="additions"
               tooltip="绘制椭圆">
         </action>
         <action
               class="agree.rcpstudy.actions.DrawRectAction"
               icon="icons/alt_window_16.gif"
               id="agree.RCPStudy.action1"
               label="绘制矩形"
               style="push"
               toolbarPath="additions"
               tooltip="绘制矩形">
         </action>
         <action
               class="agree.rcpstudy.actions.DrawGradientAction"
               icon="icons/alt_window_16.gif"
               id="agree.RCPStudy.action2"
               label="绘制渐变矩形"
               style="push"
               toolbarPath="additions"
               tooltip="绘制渐变矩形">
         </action>
         <action
               class="agree.rcpstudy.actions.DrawImageAction"
               icon="icons/alt_window_16.gif"
               id="agree.RCPStudy.action3"
               label="绘制图片"
               style="push"
               toolbarPath="additions"
               tooltip="绘制图片">
         </action>
         <action
               class="agree.rcpstudy.actions.DrawViewAction"
               icon="icons/alt_window_16.gif"
               id="agree.RCPStudy.action4"
               label="画图板"
               style="push"
               toolbarPath="additions"
               tooltip="画图板">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="agree.rcpstudy.views.FirstView"
            id="agree.RCPStudy.view2"
            name="FirstView"
            restorable="true">
      </view>
      <view
            class="agree.rcpstudy.views.View1"
            id="agree.RCPStudy.view3"
            name="TwiceView"
            restorable="true">
      </view>
      <view
            class="agree.rcpstudy.views.CanvasView"
            id="agree.RCPStudy.views.CanvasView"
            name="画图板"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="agree.rcpstudy.editors.MultiPageEditor"
            contributorClass="agree.rcpstudy.editors.MultiPageEditorContributor"
            extensions="mpe"
            icon="icons/sample.gif"
            id="agree.rcpstudy.editors.MultiPageEditor"
            name="Sample Multi-page Editor">
      </editor>
   </extension>

</plugin>
