<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Agree__Test/src/com/agree/Thinking_in_JAVA_twentyTwo/HelloSwing.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.agree.Thinking_in_JAVA_twentyTwo.HelloSwing"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Agree__Test"/>
</launchConfiguration>
